.out1 {
  border: solid blue;
  height: 150px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.out2 {
  border: solid red;
  height: 150px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.out3 {
  border: dashed red;
  outline: solid blue;
  height: 150px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.out4 {
  border: solid green;
  outline: solid yellow;
  outline-offset: 10px;
  height: 150px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
